.loader{
    width:50px;
    height:50px;
    border:5px solid rgba(255,255,255,.3);
    border-top:5px solid white;
    border-radius:50%;
    animation:spin 1s linear infinite;
    margin:20px auto;
}

.hidden{
    display:none;
}

@keyframes spin{
    to{
        transform:rotate(360deg);
    }
}

.stats{
    margin-top:30px;

    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:15px;
}

.stat-card{
    background:rgba(255,255,255,.15);
    padding:15px;
    border-radius:15px;
    backdrop-filter:blur(10px);
    transition:.3s;
}

.stat-card:hover{
    transform:translateY(-5px);
}

.stat-card h3{
    font-size:1.8rem;
}

.stat-card p{
    font-size:.8rem;
    opacity:.8;
}

.stat-card span{
    font-weight:bold;
}

.weather-card{
    animation:float 4s ease-in-out infinite;
}

@keyframes float{
    0%,100%{
        transform:translateY(0);
    }
    50%{
        transform:translateY(-10px);
    }
}

@media(max-width:500px){

    .weather-card{
        width:100%;
    }

    .stats{
        grid-template-columns:1fr;
    }

}
